@import "theme";

.content-pad {
  padding: 2rem;
}

.pad1 {
  padding: 1rem;
}

.pad2 {
  padding: 2rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex1 {
  flex: 1;
}

.flex2 {
  flex: 2;
}

.flex3 {
  flex: 3;
}

.flex4 {
  flex: 4;
}

.cxm-back,
.back {
  background-color: $base-back-color;
}