.cxe-bar-rect {
  stroke-width: 0;
}

svg {
  shape-rendering: auto;
}


.cxb-link {
 text-decoration: none;
  &:hover {
    //text-decoration: underline;
  }
}


.cxe-textarea-input,
.cxe-textfield-input {
  //border-color: darken($base-border-color,5);
}